
/* CSS Document */

*{padding:0;margin:0;}
#zt{margin:0 auto;
width:1920px;
height:100%;}

#top{
margin:0 auto;
widht:1920px;
height:175px;
background:url(../image/tou-bj.png) ;}
#top-a{
width:960px;
height:175px;
margin:0px auto;
}
#top-logo{
	width:960px;
	height:130px;
	}
#logo-zou{
	float: left;
	width: 409px;
	height: 66px;
	padding-top: 20px;
	padding-left: 30px;
	}	
	#logo-you{
	float: right;
	width: 181px;
	height: 81px;
	margin-right: 200px;
	margin-top: 30px;
		}
#nav{
padding-top:10px;
width:960px;
height:30px;
}

#nav ul{
	list-style:none;  
	}

#nav ul li{
padding-left:12px;
float:left;
font:15px/2.5 "microsoft yahei";
}

#nav ul li a{
display:block;
width:120px;
height:30px;
text-align:center;
line-height:30px;
background:url(../image/danhang-bj.jpg) 0 0 no-repeat;
text-decoration:none;
color:#431a02;
}
#nav ul li a:hover{color:red;}

/* bananer广告滚动 */
.topvebanner { margin: 0 auto; width: 1920px; height: 600px; overflow: hidden; }
.topvebanner ul { margin: 0; padding: 0; }
#myjQuery { BACKGROUND: #000; OVERFLOW: hidden; WIDTH: 1920px; POSITION: relative; HEIGHT: 600px; }
#myjQueryContent { OVERFLOW: hidden; WIDTH: 1920px; HEIGHT: 600px; }
#myjQueryContent DIV {
	POSITION: absolute;
	HEIGHT: 600px;
	width: 1920;
}
#myjQueryContent .smask { Z-INDEX: -1; }
#myjQueryContent IMG { WIDTH: 1920px; HEIGHT: 600px; border: 0; }
#myjQueryNav {
	DISPLAY: block;
	OVERFLOW: hidden;
	WIDTH: 81px;
	HEIGHT: 8px;
	position: absolute;
	top: 582px;
	right: 10px;
	z-index: 5;
}
#myjQueryNav LI { DISPLAY: block; FLOAT: left; WIDTH: 15px; CURSOR: pointer; HEIGHT: 8px; TEXT-ALIGN: center; margin-left: 1px; background: #666; color: #fff; }
#myjQueryNav .nbg { BACKGROUND: #666; }
#myjQueryNav A { DISPLAY: block; Z-INDEX: 12; MARGIN: 0px auto; TEXT-TRANSFORM: uppercase; WIDTH: 45px; COLOR: #ffffff; LINE-HEIGHT: 22px; POSITION: relative; HEIGHT: 22px; z-index: 20; }
#myjQueryNav .current { BACKGROUND: #347e0d; }
#myjQueryNav .current A { COLOR: #fff; }
#myjQuery #flow { background: url(http://www.luojiajifutang.cn/images/fcurrent.gif) no-repeat; margin-top: -33px; WIDTH: 45px; HEIGHT: 22px; Z-INDEX: 22; left: 652px; POSITION: absolute; }
/* bananer广告滚动结束 */


#neirong{
margin:0 auto;
width:1920px;
height:1485px;
background:url(../image/neirong.png)0 0 no-repeat;
	}
#neirong-bk{
	margin:0 auto;
	width:1002px;
	height:1485px;
	background:url(../image/neirong-bk.png)0 0 no-repeat;}
#neirong-zt{
	margin:0 auto;
	width:875px;
	height:1485px;
	}	
	
#neirong1{
	padding-top:56px;
	width:875px;
	height:85px;
	text-align:center; 
	}
#neirong1-1{
width:875px;
height:510px;
background:url(../image/neirong1-1.png) 0 0 no-repeat;
	}
#neirong1-2{
	padding-top:33px;
	width:820px;
	height:140px;
	margin:0 auto;
	line-height:28px;
	font:15px;
	}
#neirong1-31{
	margin:0 auto;
	width:840px;
	height:325px;
	}
#neirong1-3{
	padding-top:40px;
	padding-left:15px;
	width:350px;
	height:175px;
	float:left;
	font:25px"方正隶书简体";
	line-height:32px;
	}
#neirong1-4{
	padding-top:18px;
	width:445px;
	height:307px;
	float:right;}
#neirong2-12{
	width:875px;
	height:335px;
	margin:0 auto;}
#neirong2{
	padding-top:35px;
	width:803px;
	height:54px;
	margin:0 auto;
	}
#neirong2-1{
	padding-top:25px;
	width:871px;
	height:170px;
	margin:0 auto;}
#neirong3{
	width:875px;
	height:500px;
	margin:0 auto;}
#neirong3-1{
	width:807px;
	height:56px;
	margin:0 auto;}
#neirong3-2{
	width:870px;
	height:425px;
	margin:0 auto;}
#neirong3-3{
	width: 495px;
	height: 380px;
	float: left;
	background: #FFF;
	margin-top: 30px;
}
#neirong3-4{
	width:360px;
	height:380px;
	float:right;
	background:#fff;
	margin-top:30px;}
#neirong3-31{
	margin-top:45px;
	margin-left:25px;
	float:left;
	width:187px;
height:279px;}
#neirong3-32{
	width: 250px;
	height: 90px;
	float: right;
	margin-top: 45px;
	margin-right: 10px;
	}
#neirong3-32 a{line-height: 20px;
	font-size: 15px;
	text-decoration:none;
	color:#000;}
#neirong3-32 a:hover{color:red;}

#neirong3-33{
	width:250px;
	height:5px;
	float:right;
	margin-right:10px;
	border-bottom:1px solid #999;}
#neirong3-34{width:250px;
height:165px;
float:right;
margin-top:10px;
margin-right:10px;

}
#neirong3-34 ul{
	margin-left:10px;
	}
#neirong3-34 ul li a:hover{color:red;}
#neirong3-34 li{
line-height:25px;
font-size:15px;
}
#neirong3-34 li a{
text-decoration:none;
color:#000;}
#neirong3-4 a{
	font-size:15px;
	text-decoration:none;
color:#000;}
#neirong3-4 a:hover{color:red;}
#weibu{
margin:0 auto;
width:1920px;
height:285px;
background:url(../image/weibu-bj.png) 0 0 no-repeat;}
#erwei{
text-align:center;
margin-top:20px;
width:1920px;
height:205px;}
#liaoxi{
	width:1100px;
	margin:0 auto;
	line-height:28px;
	text-align:center;
	font-size:14px;
	}
